@use "/styles/variables" as *;

.signup-page {
  min-height: 100dvh;
  background-image: url("../../../public/images/bg-intro-mobile.png");
  background-color: map-get($map: $colors, $key: primary-red);
  padding-block-start: 6rem;

  @media (width >= 70rem) {
    padding: 0;
    background-image: url("../../../public/images/bg-intro-desktop.png");
    display: grid;
    place-content: center;
  }

  &__description {
    padding-inline: 1rem;

    & h1 {
      font-size: clamp(1.50rem, calc(1.22rem + 1.11vw), 2.00rem);
    }

    @media (width >= 70rem) {
      display: grid;
      align-content: center;
      text-align: left;
      padding-inline: 0;

      & h1 {
        font-size: 3rem;
        line-height: 1.1;
      }
    }
  }

  &__banner {
    background-color: map-get($map: $colors, $key: accent);
    padding-inline: 3rem;
    padding-block: 1.5rem;
  }

  &__form {
    padding: 1.5rem;
    background-color: white;
    display: grid;
    gap: clamp(1.25rem, calc(-0.5rem + 2.5vw), 1.75rem);

    & button {
      background-color: map-get($map: $colors, $key: primary-green);
      color: inherit;
      padding-block: 1.5rem;
      width: 100%;
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0 0 rgba(#65ac87, 1);
      font-weight: $fw-500;

      &:where(:focus, :focus-visible, :focus-within) {
        outline: 1px solid rgba(#65ac87, 1);
      }

      &:where(:disabled, :hover) {
        background-color: map-get($map: $colors, $key: secondary-green);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    @media (width >= 70rem) {
      padding-block-end: 3rem;
    }
  }

  &__input {
    padding-inline: 1.5rem;
    padding-block: 1.25rem;
    border-radius: 0.25rem;
    outline: 1px solid map-get($map: $colors, $key: neutral-700);
    font-weight: $fw-600;
    color: map-get($map: $colors, $key: neutral-400);

    &::placeholder {
      color: rgba(map-get($map: $colors, $key: neutral-400), 0.65);
    }

    &:where(:focus-visible, :focus, :focus-within, :hover) {
      outline: 2px solid map-get($map: $colors, $key: accent);
      border: none;
    }
  }

  &__statement {
    font-size: 0.75rem;
    color: map-get($map: $colors, $key: neutral-700);

    & a {
      font-weight: $fw-700;
      color: map-get($map: $colors, $key: primary-red);
    }
  }

  &__wrapper {
    width: min(100%, 30rem);
    margin-inline: auto;

    @media (width >= 70rem) {
      width: 80%;
      display: grid;
      gap: clamp(1rem, calc(-2.5rem + 5vw), 2rem);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.error {
  color: map-get($map: $colors, $key: primary-red);
  outline-color: map-get($map: $colors, $key: primary-red);

  &::placeholder {
    color: map-get($map: $colors, $key: primary-red);
  }

  &__message {
    position: absolute;
    font-size: 0.75rem;
    font-weight: 500;
    color: map-get($map: $colors, $key: primary-red);
    right: 0;
    top: calc(100% + 0.25em);
    font-style: italic;
  }
}

.success {
  outline-color: map-get($map: $colors, $key: primary-green);
}

@supports (min-height: 100dvh) {
  .login-page {
    min-height: 100vh;
  }
}
