@use "./variables" as *;

@each $key, $val in $direction {
  @for $i from 1 through 12 {
    .p#{$key}-#{$i} {
      padding-#{$val}: $i * 0.5rem;
    }
    .m#{$key}-#{$i} {
      margin-#{$val}: $i * 0.5rem;
    }
  }
}

.radius {
  border-radius: 0.5rem;
}

.shadow {
  box-shadow: 0 0.5rem 0 0 rgba(map-get($map: $colors, $key: neutral-400), 0.15);
}

.line-height {
  line-height: 1.75;
}
